.wayRemove {
    padding-top: 0rem 0em !important;
    padding-bottom: 0rem 0em !important;
  }
.wayPoints{
    height: 380px !important;
    margin-left: -1em;
    margin-right:-1.5em;
    margin-top: -2em;
    margin-bottom: -1em;
    background-image: url(../pic1.png);
    background-size: 900px 380px;
    background-repeat: no-repeat;
}
.way-design {
    height: 300px;
    width: 900px;
    background-size: 142px;
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-right: 340px !important;
}
.nearbyPlaces{
    height: 380px !important;
    margin-left: -1em;
    margin-right:-1.5em;
    margin-top: -1em;
    background-image: url(../pic2.png);
    background-size: 900px 400px;
    background-repeat: no-repeat;
}
