/* .wayRemove {
    padding-top: 0rem 0em !important;
    padding-bottom: 0rem 0em !important;
  }
.wayPoints{
    height: 26rem !important;
    margin-right:1em;
    margin-top: -2em;
    margin-bottom: -3.5em; 
    opacity: 0.7;
    background-repeat: no-repeat;
}
.way-design {
    height: 300px;
    width: 900px;
    background-size: 142px;
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-top: -0.5em !important;
    margin-right: 346px !important;
}
.nearbyPlaces{
    height: 26rem !important;
    margin-top: -0.3em;
    margin-bottom: -1.5em;
    margin-right:-1em;
    margin-left:-0.5em;
    opacity: 0.7;
    background-size: 900px 380px;
    background-repeat: no-repeat;
}
.divideOR{
    font-size: 20px !important;
}
.change{
    margin-top: 50rem;
    width:15em !important;
    top: 50% !important;
    color: rgb(201, 28, 28) !important;
    border: 4px solid black !important;
    opacity:unset !important;
    transform: translate(-5%, -400%);
}
.change:hover{
background-color: rgb(55, 168, 55) !important;
color:white !important;
}
.first{
    height: 26rem;
    background-color:rgb(243, 192, 72);
    margin-top: -2rem;
    color: #282c3f;
    border-radius: 1rem;
}
.second{
    height: 18.5em;
    background-color:tomato;
    margin-top: 2em;
    color: #282c3f;
    border-radius: 1rem
}
div.first{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div.second{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.main{
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
} */
/* body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
    background-repeat: no-repeat;
  } */
.left-waypoint{
    margin-top: 10rem !important;
    margin-left: 25rem !important;
    margin-right: 25rem !important;
    height: 35rem !important;
    border: 3px solid !important;
}
.change{
    margin-top: 19rem !important;
    width:15em !important;
    top: 50% !important;
    color: rgb(201, 28, 28) !important;
    border: 4px solid black !important;
    opacity:unset !important;
    transform: translate(-5%, -400%);
}
.change:hover{
background-color: rgb(228, 46, 173) !important;
color:white !important;
}
.wayPoints{
    height: 14rem !important;
    margin-right:1em;
    margin-top: -22em !important;
    margin-bottom: 3.5em; 
    background-repeat: no-repeat;
}
div.left-col{
    color: linear-gradient(yellow, blue) !important;
}