.wayRemove {
    padding-top: 0rem 0em !important;
    padding-bottom: 0rem 0em !important;
  }
.wayPoints{
    height: 380px !important;
    margin-right:-1em;
    margin-top: -2em;
    margin-bottom: -0.5em; 
    background-image: url(../pic1.png);
    opacity: 0.7;
    background-size: 900px 380px;
    background-repeat: no-repeat;
}
.way-design {
    height: 300px;
    width: 900px;
    background-size: 142px;
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-top: 2em;
    margin-right: 340px !important;
}
.nearbyPlaces{
    height: 380px !important;
    margin-top: -0.5em;
    margin-bottom: -1.5em;
    margin-right:-1em;
    background-image: url(../pic2.png);
    opacity: 0.7;
    background-size: 900px 380px;
    background-repeat: no-repeat;
}
.divideOR{
    font-size: 20px !important;
}
.change{
    margin-top: 13em !important;
    width:13em !important;
    background-color: rgb(62, 149, 62) !important;
    color: white !important;
    border: 4px solid !important;
    opacity:unset;
}