.wayRemove {
    padding-top: 0rem 0em !important;
    padding-bottom: 0rem !important;
  }
.wayPoints{
    height: 380px !important;
    background-image: url(../searchwaypoint.jpg);
    background-size: 900px 400px;
    background-repeat: no-repeat;
}
.way-design {
    height: 300px;
    width: 900px;
    background-size: 142px;
    /* background-position-x: -130px; */
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-right: 340px !important;
}
