.remove {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
.wayPoints{
    height: 400px !important;
    background-image: url(../searchwaypoint.jpg);
    background-size: 1900px 400px;
    background-repeat: no-repeat;
}