.wayRemove {
    padding-top: 0rem 0em !important;
    padding-bottom: 0rem 0em !important;
  }
.wayPoints{
    height: 380px !important;
    margin-right:1em;
    margin-top: -2em;
    margin-bottom: -2.9em; 
    opacity: 0.7;
    background-repeat: no-repeat;
}
.way-design {
    height: 300px;
    width: 900px;
    background-size: 142px;
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-top: 2em;
    margin-right: 340px !important;
}
.nearbyPlaces{
    height: 380px !important;
    margin-top: -0.5em;
    margin-bottom: -1.5em;
    margin-right:-1em;
    opacity: 0.7;
    background-size: 900px 380px;
    background-repeat: no-repeat;
}
.divideOR{
    font-size: 20px !important;
}
.change{
    width:15em !important;
    top: 50% !important;
    color: rgb(201, 28, 28) !important;
    border: 4px solid black !important;
    opacity:unset !important;
    transform: translate(-5%, -300%);
}
.change:hover{
background-color: rgb(62, 149, 62) !important;
color:Black !important;
}
.first{
    height: 27.2em;
    background-color:rgb(243, 192, 72);
    margin-top: -2em;
}
.second{
    height: 30em;
    background-color:tomato;
    margin-top: 2em;
}