.remove {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
.wayPoints{
    height: 400px !important;
    background-image: url(../searchwaypoint.jpg);
    background-size: 900px 400px;
    background-repeat: no-repeat;
}
.way-design {
    height: 400px;
    width: 900px;
    background-size: 142px;
    /* background-position-x: -130px; */
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-right: 320px !important;
}
