/* .wayRemove {
    padding-top: 0rem 0em !important;
    padding-bottom: 0rem 0em !important;
  }
.wayPoints{
    height: 26rem !important;
    margin-right:1em;
    margin-top: -2em;
    margin-bottom: -3.5em; 
    opacity: 0.7;
    background-repeat: no-repeat;
}
.way-design {
    height: 300px;
    width: 900px;
    background-size: 142px;
    background-repeat: no-repeat;
}
.verticalDivide{
    margin-top: -0.5em !important;
    margin-right: 346px !important;
}
.nearbyPlaces{
    height: 26rem !important;
    margin-top: -0.3em;
    margin-bottom: -1.5em;
    margin-right:-1em;
    margin-left:-0.5em;
    opacity: 0.7;
    background-size: 900px 380px;
    background-repeat: no-repeat;
}
.divideOR{
    font-size: 20px !important;
}
.change{
    margin-top: 50rem;
    width:15em !important;
    top: 50% !important;
    color: rgb(201, 28, 28) !important;
    border: 4px solid black !important;
    opacity:unset !important;
    transform: translate(-5%, -400%);
}
.change:hover{
background-color: rgb(55, 168, 55) !important;
color:white !important;
}
.first{
    height: 26rem;
    background-color:rgb(243, 192, 72);
    margin-top: -2rem;
    color: #282c3f;
    border-radius: 1rem;
}
.second{
    height: 18.5em;
    background-color:tomato;
    margin-top: 2em;
    color: #282c3f;
    border-radius: 1rem
}
div.first{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div.second{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.main{
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
} */
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
    background-repeat: no-repeat;
  }
.card {
    border-radius: 0;
    border: none;
  }
  .card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
  }
  
  .card2 {
    width: 50%;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
  }
  input,
  textarea {
    background-color: #f3e5f5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f3e5f5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
  }  