.btnGoogle { 
  margin:5px;
  margin-top: 350px;
  margin-left: 50px;
  width: 200px;
  height:50px;
  background: red;
  color:white;
  border:0px transparent;
  text-align: center;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}

.design{
	height: 835px;
	background-image: 'url(https://source.unsplash.com/random)';
    background-repeat : 'no-repeat';
    background-color: theme.palette.type === 'light' ? theme.palette.grey[50] : theme.palette.grey[900];
    background-size::content
    background-position: 'center';
}

.bdesign{
	height: 835px;
}

/* .logout{
  margin-;
} */