.btnGoogle { 
  margin:5px;
  margin-top: 250px;
  margin-left: 50px;
  width: 200px;
  height:50px;
  background: red;
  color:white;
  border:0px transparent;
  text-align: center;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}
.remove{
	padding-top: 0rem !important;
}
.left-design{
	height: 600px;
	width: 1000px;
	background-image: url(../MapsLogin.jpg);
	background-size: 1100px;
	background-repeat: no-repeat;
}

.right-design{
	height: 600px;
}

/* .logout{
  margin-;
} */