.btnGoogle {
  /* margin-left: 30%; */
  width: 15%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 20%;
  border-radius: 4px;
}



.btnGoogle { 
  margin:5px;
  margin-top: 200px;
  margin-left: 500px;
  width: 200px;
  height:50px;
  border-radius: 4em;
  border-color: black;
  background: red;
  color:white;
  border:0px transparent;
  text-align: center;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}

.google-class{
	background-color: #869D05;
	color: #FFFFFF;
}

.design{
	height: 850px;
}

/* .logout{
  margin-;
} */