.btnGoogle { 
  margin:5px;
  margin-top: 250px;
  margin-left: 50px;
  width: 200px;
  height:50px;
  background: red;
  color:white;
  border-color: lawngreen;
  border: 2px solid;
  /* border:0px transparent; */
  text-align: center;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}
.remove{
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}
.left-design{
	height: 600px;
	width: 1000px;
	background-image: url(../googlelogin.png);
	background-size: 1127px;
	background-position-x: -50px;
	background-repeat: no-repeat;
}

.right-design{
	height: 600px;
}
.bottom-design{
height:100%;
	background-color: #869D05;
	color: #FFFFFF;
}
/* .logout{
  margin-;
} */