.btnGoogle {
  /* margin-left: 30%; */
  width: 15%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 20%;
  border-radius: 4px;
}



.btnGoogle { 
  margin:5px;
  margin-top: 100px;
  width: 200px;
  height:50px;
  border-radius: 4px;
  background: red;
  color:white;
  border:0px transparent;
  text-align: center;
  padding-left: 30ex;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 300px;
}

form fieldset input[type="text"],
input[type="password"] {
  appearance: none;
	background: #e5e5e5;
	border: none;
	border-radius: 3px;
	color: #5a5656;
	font-family: inherit;
	font-size: 14px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	width: 280px;
}

form fieldset input[type="submit"] {
  appearance: none;
	background-color: #008dde;
	border: none;
	border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: inherit;
	height: 50px;
	text-transform: uppercase;
	width: 300px;
}

form fieldset a {
	color: #5a5656;
	font-size: 10px;
}

form fieldset a:hover { text-decoration: underline; }

.btn-round {
	background: #5a5656;
	border-radius: 50%;
	color: #f4f4f4;
	display: block;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	margin: 30px 125px;
	text-align: center;
	text-transform: uppercase;
	width: 50px;
}




/* .logout{
  margin-;
} */