.btnGoogle {
  margin: 5px;
  margin-top: 100px;
  margin-left: 50px;
  width: 200px;
  height: 50px;
  border: 4px solid !important;
  color: white;
  text-align: center;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}
@media only screen and (max-width: 399px) {
  .btnFacebook,
  .btnGoogle {
    width: 100%;
  }
}
.remove {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.left-design {
  height: 600px;
  width: 850px;
  background-image: url(../googlelogin.png);
  background-size: 1142px;
  background-position-x: -130px;
  background-repeat: no-repeat;
}
.right-design {
  height: 600px;
}
.bottom-design {
  height: 220px;
  background-color: #b0cc12;
  color: #ffffff;
}
.imageCreater {
  height: 170px;
  margin-right: 1px;
  background-image: url(../delivery.png);
  background-size: 150px;
  background-repeat: no-repeat;
}
.dynamicText {
  margin: 0.67em, 0;
  margin-top: 140px;
  margin-bottom: 0;
  height: 50px;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -0.45px;
  color: #282c3f;
  box-sizing: inherit;
}
.subhead-text {
  margin-top: 30px;
  font-size: 24px;
}
/* .logout{
  margin-;
} */
