.btnGoogle {
  /* margin-left: 30%; */
  width: 15%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 20%;
  border-radius: 4px;
}



/* .btnGoogle { 
  margin:5px;
  margin-top: 100px;
  width: 165px;
  height:35px;
  border-radius: 4px;
  background: red;
  color:white;
  border:0px transparent;
  text-align: center;
} */
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}

@media only screen and (max-width : 399px) {
  .btnFacebook,.btnGoogle{
    width: 100%
  }
}

/* .logout{
  margin-;
} */