

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.hello{
  /* background-image: url('download.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    width: 100%;
    height: 100%; */
    background: url(./food.jpg) no-repeat top center fixed;
    background-size: 1600px;
    height: 300px;
    

    
  
}

.searchbar{
  margin-top: 40px;
  margin-left: 30%;

}

