.background-design {
  margin: 2%;
}
.left-waypoint {
  margin-top: 10rem !important;
  margin-left: 25rem !important;
  margin-right: 25rem !important;
  height: 35rem !important;
  background-image: linear-gradient(
    to right,
    rgb(83, 202, 53),
    white
  ) !important;
  background-repeat: no-repeat;
}
.change {
  margin-top: 19rem !important;
  width: 15em !important;
  top: 50% !important;
  color: rgb(201, 28, 28) !important;
  border: 4px solid black !important;
  opacity: unset !important;
  transform: translate(-5%, -400%);
}
.change:hover {
  background-color: rgb(228, 46, 173) !important;
  color: white !important;
}
.wayPoints {
  height: 14rem !important;
  margin-right: 1em;
  margin-top: -22em !important;
  margin-bottom: 3.5em;
  background-repeat: no-repeat;
}
.option {
  margin-left: 100px important!;
  background-color: black;
}
.button_center {
  display: block !important;
  text-align: center;
}
.searchNearByTextDesign {
  min-width: 500px !important;
  content: inherit !important;
  width: 510px !important;
  height: 500px !important;
  border: 2px solid black !important;
}
.addWayPointsTextDesign {
  min-width: 500px !important;
  content: inherit !important;
  width: 510px !important;
  height: 500px !important;
  border: 2px solid black !important;
  margin-left: 12em !important;
}
.insideNearbyText {
  font-size: 70px !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}
.insideAddWayPointsText {
  font-size: 70px !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: end;
}
