
.map{
    /* margin: 5%; */
    margin-top: 5%;
    margin-left: 2%;
    
    
}
/* .feilds{
    /* margin-left: 60%; */
    /* margin-top: 0%; */
/* } */ 
/* .logout{
    margin-top: 0%;
    /* position: relative; */
/* }  */
/* .savedroutes{
   margin-top: 0%;

} */
.label{
    margin-right: 5%;
}
@media (min-width: 1025px) {
    .main {
	    background-image: url('../travel-map.jpg');
   }
}
.main {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
    /* background-image: url(images/background-desktop.jpg); */
  }
/* .main{
    background-color: teal;
    background-size: cover */
    /* margin-bottom: -50px; */
    /* width: 500%; */
    /* height: auto;
    background-image: url('../img_map.jpeg') ;
    background-repeat: no-repeat; */
    /* background-size: 1142px; */
    /* background-position-y: -130px; */
    
    /* no-repeat top center fixed; */
    /* background: url(../images/admin.login.bg.jpg) no-repeat top center fixed; */
/* } */