.first-segment {
  margin-top: 0.5em !important;
  margin-left: 0.5em !important;
  width: 728px;
}
.seg-design {
  height: 250px;
  width: 400px !important;
  margin-left: 2em !important;
}
.fetchplace {
  margin-top: 0em !important;
  margin-right: 6em !important;
}
.saveplace{
    margin-left: 3em !important;
}
.headerText {
  margin-left: 3.5em !important;
  margin-top: 1em !important;
  width: 600px !important;
  text-align: center !important;
  font-family: serif;
  font-weight: bold;
  font-size: large !important;
}
.saveplaceText{
    margin-left: 3em !important;
    margin-top:3em !important;
    width:280px !important ;
    height: 120px !important;
    text-align:'centre' !important;
    border: 2px solid red !important;
}
.fetchplaceText{
    margin-left: 1.6em !important;
    margin-top:3em !important;
    margin-bottom: 4em !important;
    width:280px !important ;
    height: 120px !important;
    text-align:'centre' !important;
    border: 2px solid red !important;
}